
total 84
drwxr-xr-x  3 pi   root  4096 Jul  7 16:25 .
drwxr-xr-x  8 pi   root  4096 Jul  7 16:24 .git
-rw-r--r--  1 pi   root   431 Jul  7 16:24 .env.example
-rw-r--r--  1 root root 35195 Jul  7 16:22 wp_options.yaml
-rw-r--r--  1 root root     0 Jul  7 16:10 .WP_INITIALIZED
-rw-r--r--  1 root root  2068 Jul  7 16:09 docker-compose.yml
-rwxr-xr-x  1 pi   pi    4114 Jul  7 16:08 wp-cli.sh
-rw-r--r--  1 pi   pi     364 Jul  7 15:51 .env
-rw-r--r--  1 pi   root  2124 Jul  7 15:46 docker-compose.template
-rw-r--r--  1 pi   pi     913 Jul  5 07:12 server.virtualhost.conf
drwxr-xr-x 22 root root  4096 Apr 21 16:30 ..
-rw-r--r--  1 pi   root   496 Apr 19 11:39 .gitignore
-rw-r--r--  1 pi   pi      29 Apr 16 20:00 README.md

# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

./mysql
./wp-html

.WP_INITIALIZED
.docker-compose.yml
.env
