{
    "env": {
        "global": {
            "WP_DB_NAME": "database",
            "WP_NAME": "wordpress",
            "WP_CLI_NAME": "cli"
        },
        "docker": {
            "WP_PORT": "80",
            "WP_SUBNET": "192.168.2.220",
            "WP_SUBNET_NAME": "wp",
            "WP_DB_ROOT_PASSWORD": "rootpassword",
            "WP_DB_DATABASE": "wpdb",
            "WP_DB_USER": "dbuser",
            "WP_DB_PASSWORD": "userpassword",
            "WP_TABLE_PREFIX": "wp_"
        },
        "script": {
            "WP_APACHE": "0",
            "WP_LETSENCRYPT": "0",
            "WP_LOG": "1",
            "WP_HTTPS": "0",
            "WP_URL": "192.168.1.100",
            "WP_TITLE": "test",
            "WP_DB_DEBUG": "0",
            "WP_ADMIN": "admin",
            "WP_ADMIN_PASSWORD": "password",
            "WP_ADMIN_EMAIL": "myemail@domain.tld",
            "WP_USER": "user",
            "WP_USER_PASSWORD": "password",
            "WP_USER_EMAIL": "myemail2@domain.tld",
            "WP_PLUGINS": [
                "better-wp-security",
                "redirection",
                "cookie-notice",
                "disable-comments",
                "wp-mail-smtp",
                "maintenance"
            ]
        }
    },

    "wp_options": [{
            "option_name": "date_format",
            "option_value": "Y-m-d"
        }, {
            "option_name": "time_format",
            "option_value": "H:i"
        }, {
            "option_name": "itsec-storage",
            "option_value": {
                "global": {
                    "lockout_period": 10080,
                    "lockout_white_list": ["192.168.1.1"]
                },
                "notification-center": {
                    "notifications": {
                        "digest": {
                            "schedule": "daily",
                            "subject": null,
                            "enabled": true,
                            "user_list": [
                                "role:administrator"
                            ],
                            "recipient_type": "default"
                        },
                        "lockout": {
                            "subject": null,
                            "enabled": true,
                            "user_list": [
                                "role:administrator"
                            ],
                            "recipient_type": "default"
                        },
                        "backup": {
                            "subject": null,
                            "email_list": [
                                "myemail@domain.tld"
                            ]
                        },
                        "file-change": {
                            "subject": null,
                            "enabled": true,
                            "user_list": [
                                "role:administrator"
                            ],
                            "recipient_type": "default"
                        }
                    },
                    "admin_emails": [],
                    "from_email": "",
                    "default_recipients": {
                        "user_list": [
                            "role:administrator"
                        ]
                    }
                }
            }
        }, {
            "option_name": "wp_mail_smtp",
            "option_value": {
                "mail": {
                    "from_email": "myemail@domain.tld",
                    "from_name": "name",
                    "mailer": "smtp",
                    "return_path": false,
                    "from_email_force": true,
                    "from_name_force": false
                },
                "smtp": {
                    "autotls": true,
                    "auth": false,
                    "host": "smtpserver",
                    "encryption": "tls",
                    "port": 587,
                    "user": "",
                    "pass": "encryptedstring"
                }
            }
        }, {
            "option_name": "itsec_active_modules",
            "option_value": {
                "ban-users": true,
                "backup": true,
                "brute-force": true,
                "network-brute-force": true,
                "wordpress-tweaks": true,
                "system-tweaks": true,
                "file-change": true,
                "security-check-pro": true,
                "404-detection": true
            }
        }, {
            "option_name": "disable_comments_options",
            "option_value": {
                "is_network_admin": false,
                "remove_everywhere": true,
                "disabled_post_types": [
                    "post",
                    "page",
                    "attachment"
                ],
                "remove_xmlrpc_comments": 1,
                "remove_rest_API_comments": 1,
                "db_version": 6,
                "settings_saved": true
            }
        }
    ]
}
